---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Article from '../components/Article.astro'
import ListItem from '../components/ListItem.astro';

const articles = [
	{title: 'Hydrogen VS Electric Cars', text: 'Will hydrogen-fueled cars ever catch up to EVs?'},
	{title: 'The Downsides of AI Artistry', text: 'What are the possible adverse effects of on-demand AI image generation?'},
	{title: 'Is VC Funding Drying Up?', text: 'Private funding by VC firms is down 50% YOY. We take a look at what that means.'}
]

const listItems = [
	{image: '/src/images/image-retro-pcs.jpg', title: 'Reviving Retro PCs', text: 'What happens when old PCs are given modern upgrades?'},
	{image: '/src/images/image-top-laptops.jpg', title: 'Top 10 Laptops of 2022', text: 'Our best picks for various needs and budgets.'},
	{image: '/src/images/image-gaming-growth.jpg', title: 'The Growth of Gaming', text: 'How the pandemic has sparked fresh opportunities.'}
]

---

<Layout title="Home">
	<main class="main">
		<div class="content-left">
			<img class="hero-image" src="/src/images/image-web-3-desktop.jpg" alt="hero image" />
			<!-- <img class="hero-image" src="/src/images/image-web-3-mobile.jpg" /> -->
			<div class="hero-content">
				<h1>The Bright Future of Web 3.0?</h1>
				<div class="hero-text">
					<p>
						We dive into the next evolution of the web that claims to put the power
						of the platforms back into the hands of the people. But it is really
						fulfilling its promise?
					</p>
					<a class="action-btn">
						READ MORE
					</a>
				</div>
			</div>
		</div>
		<aside class="content-right">
			<h2>New</h2>
			{articles.map(article => <Article article={article} />)}
		</aside>
		<div class="content-bottom">
			<ul>
				{listItems.map((listItem, index) => <ListItem listItem={listItem} index={index} />)}
			</ul>
		</div>
	</main>
</Layout>

<style>
	.main {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 2rem;
	}

	.content-left {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.hero-image {
		width: 100%;
	}

	.hero-content {
		display: flex;
		margin-top: 2rem;
	}

	h1 {
		font-size: 3rem;
		font-weight: 800;
		line-height: 3rem;
	}

	.hero-content > * {
		flex: 1;
	}

	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.hero-content p {
		color: var(--color-gray);
		font-size: 11pt;
	}

	.action-btn {
		color: white;
		background-color: var(--accent-color);
		padding: 0.75rem 1.25rem;
		letter-spacing: 0.25rem;
		width: max-content;
		font-size: smaller;
		font-weight: 700;
		cursor: pointer;
		transition: 0.25s ease;
	}

	.action-btn:hover {
		background-color: var(--color-black);
	}

	.content-right {
		background-color: var(--color-black);
		padding: 2rem 2rem 0 2rem;
		color: white;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	h2 {
		color: var(--color-orange);
		font-size: 2.25rem;
	}

	.content-bottom {
		margin-top: 3rem;
		grid-column: 1 / -1;
	}

	ul {
		width: 100%;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
	}
</style>
