---
---

<footer class="footer">
    <div>
        Challenge by <a href="https://www.frontendmentor.io/home">Frontend Mentor</a>
    </div>
    <div>
        Coded by <a href="https://github.com/burgerax5">Trevor Tan</a>
    </div>
</footer>

<style>
    .footer {
        display: flex;
        align-items: center;
        justify-self: space-between;
        width: 100%;
    }

    .footer > * {
        color: var(--color-lightgray);
        padding: 1rem;
        background-color: var(--color-gray);
        flex: 1;
        height: 100%;
    }

    .footer div:last-of-type {
        text-align: right;
    }

    a {
        text-decoration: none;
        color: white;
        transition: 0.25s ease;
    }

    a:hover {
        color: var(--accent-color);
    }

    .footer {
        padding-block: 2rem;
        align-items: center;
        justify-content: center;
    }

        

</style>