---
import Hamburger from "./Hamburger";
---

<header class="header">
    <div class="container">
        <div class="logo">
            <img src="/src/images/logo.svg" alt="logo"/>
        </div>
        <nav class="nav">
            <a>Home</a>
            <a>New</a>
            <a>Popular</a>
            <a>Trending</a>
            <a>Categories</a>
        </nav>
        <Hamburger client:load />
    </div>
</header>

<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block: 4rem;
    }

    .logo {
        cursor: pointer;
    }

    .nav {
        display: flex;
        gap: 2rem;
        color: var(--color-gray);
    }

    .nav a {
        cursor: pointer;
        transition: 0.25s ease;
    }

    .nav a:hover {
        color: var(--accent-color);
    }

    @media screen and (max-width: 1060px) {
        .nav {
            display: none;
        }

        .container {
            margin-block: 2rem;
        }
    }
</style>