---
// interface Props {
// 	title: string;
// }

import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/src/images/favicon-32x32.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--background-color: #FEFDF9;
		--color-lightgray: #C8C7CD;
		--color-gray: #686874;
		--accent-color: #F35C53;
		--color-orange: #ECB05A; 
		--color-black: #00001A;
	}

	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	body {
		font-family: 'Inter', sans-serif;
		max-width: 1024px;
		margin-inline: auto;
		background-color: var(--background-color);
	}

	@media screen and (max-width: 1060px) {
		body {
			max-width: 686px;
			padding-inline: 1rem;
		}
	}
</style>
